<h3 class="mb-1"> <%= article.title %> </h3>

<div class="text-muted mb-2"> <%= article.createdDate.toLocaleDateString() %> </div>
<!-- Go to home page -->
<a href="/" class="btn btn-secondary">All articles</a>
<!-- Go to Edit page -->
<a href="/articles/edit/<%= article.id %>" class="btn btn-warning">Edit</a>

<!-- Render markdown -->
<div class="mt-3">
   <%- article.sanitizeHtml %>
</div>